<h1>Computacao Ubíqua - UMinho</h1>
<form method="POST">
  <label for="postal_code">Código Postal:</label><br />
  <input type="text" id="postal_code" name="postal_code" /><br />
  <label for="street_name">Nome da Rua:</label><br />
  <input type="text" id="street_name" name="street_name" /><br />
  <label for="street_id">Freguesia:</label><br />
  <input type="text" id="street_id" name="street_id" /><br />
  <input type="Submit" />
</form>
